<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- stdoutLogEnabled: flag de diagnóstico IIS (ver Liberar-Logs-WebUi.ps1) -->
      <aspNetCore processPath="dotnet"
                  arguments=".\TecFlow.WebUi.dll"
                  hostingModel="inprocess"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Homologacao" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
